{# src/OC/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Louvre Réservation{% endblock %}</title>

    {% block stylesheets %}
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <link rel="stylesheet" href="{{ asset('bundles/ocbooking/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ocbooking/css/infinitescrolling.css') }}">
    {% endblock %}

</head>

<body id="body">
<div class="scroll">
    <nav class="navbar navbar-expand-lg navbar-fixed-top" id="fixed-navbar">

        <a class="navbar-brand" href="https://www.louvre.fr/" id="logo-container">
            <img src="{{ asset('bundles/ocbooking/images/logo-invers.png') }}" id="logo">
        </a>



        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="col-lg-8" id="flashbag">
                {% for flashMessage in app.session.flashbag.get('fail') %}
                    <div class="alert alert-warning">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-info">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path ('oc_booking_homepage') }}">Accueil <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('oc_booking_tickets') }}">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('oc_booking_contact') }}">Contact</a>
                </li>

            </ul>
        </div>
    </nav>

    {#<div class="fluid-container" id="flashbag-container">

        {% for flashMessage in app.session.flashbag.get('fail') %}
            <div class="alert alert-warning">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>

        {% endfor %}
    </div> <!-- End div flashbag -->#}
    <div class="row">
        <!-- Bouton Gauche -->
        <div class="col-lg-1" id="leftButton">
            <button id="openNavLeft" class="btn btn-lg" onclick="w3_open_left()" title="Panier">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
        </div>
        <!-- SideBar basket -->
        {{ render(url('oc_booking_basket')) }}

        <!-- SideBar Formulaire Ticket -->

        {{ render(url("oc_booking_form")) }}
        <div class="col-lg-10" id="main">
            {% block body %}
            {% endblock %}

        </div> <!-- End main -->


        <!-- Bouton droit -->
        <div class="col-lg-1" id="rightButton">
            <button id="openNavRight" class="btn btn-lg" onclick="w3_open_right()"
                    title="Ajoutez un ticket">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <div class="loader hidden"></div>
</div>


{% block javascripts %}
    <script>
    function w3_open_right() {
    document.getElementById("mySidebarR").style.width = "25%";
    document.getElementById("mySidebarR").style.display = "block";
    document.getElementById("openNavRight").style.display = 'none';
    }

    function w3_close_right() {
    document.getElementById("mySidebarR").style.display = "none";
    document.getElementById("openNavRight").style.display = "inline-block";
    }

    function w3_open_left() {
    document.getElementById("mySidebarL").style.width = "25%";
    document.getElementById("mySidebarL").style.display = "block";
    document.getElementById("openNavLeft").style.display = 'none';
    }

    function w3_close_left() {
    document.getElementById("mySidebarL").style.display = "none";
    document.getElementById("openNavLeft").style.display = "inline-block";
    }
    </script>
{% endblock %}

</body>
</html>