{# src/OC/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}OC Plateforme{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ asset('bundles/ocbooking/css/base.css') }}">
        <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
    {% endblock %}

</head>

<body id="body">
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">

            <header id="main-header" class="jumbotron" role="banner">

                <div class="site-text">

                    <h1 class="site-title">
                        <a href="" title="Réservation du Louvre" rel="home">Réservation du Louvre</a>
                    </h1> <!-- End Site-title -->
                    <h2 class="site-description">
                        N'attendez plus des heures devant le Musée, Entrez-y Directement!
                    </h2> <!-- End Site-description -->
                </div>

            </header> <!-- End main-header -->

            <div>

                {% for flashMessage in app.session.flashbag.get('fail') %}
                    <div class="alert alert-warning">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>

                {% endfor %}
            </div> <!-- End div flashbag -->

        </div> <!-- End Col-md-12 -->

    </div> <!-- End Row -->

    <div class="row" id="row1">
        <!-- SideBar basket -->
        {{ render(controller("OCBookingBundle:Booking:panier")) }}

        {{ render(controller("OCBookingBundle:Booking:form")) }}
        <div id="main">
            {% block body %}
            {% endblock %}

        </div> <!-- End main -->

    </div> <!-- End row -->


    <footer class="footer">

        <div class="col-md-11">

            <p>Arak's Dreams © {{ 'now'|date('Y') }}</p>

        </div> <!-- End col-md-11 -->

        <div class="col-md-1">

            <a href="{{ path('oc_booking_contact') }}" class="w3-button w3-xlarge" title="Contact" id="contact-button">

                <span class="glyphicon glyphicon-envelope"></span>

            </a>

        </div> <!-- End cpl-md-1 -->

    </footer> <!-- End Footer-->

</div> <!-- End Container-Fluid -->





{% block javascripts %}
    <script>

        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }

        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }

    </script>
{% endblock %}

</body>
</html>