{# src/OCBookingBundle/Ressources/views/Booking/basket.html.twig
#}

<!-- Sidebar Header -->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;left:0" id="mySidebarL">
    <button class="btn btn-secondary btn-block" onclick="w3_close_left()">
        <span class="glyphicon glyphicon-chevron-left">  Fermer</span>
    </button>

    <!-- Sidebar Header -->
    <div class="header">
        <div class="row">
            <div class="col-xs-8">
                <h3>Votre Réservation</h3>
            </div>
            <div class="col-xs-4">
                <h2 class="alert alert-info">{{ total }} €</h2>
            </div>
        </div>

    </div>

    <!-- Sidebar Tickets -->
    <div class="col">
    <ul class="list-group">

        {% for ticket in tickets %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        {{ ticket.date|date('d / m / Y') }}
                    </div>
                    <div class="col-xs-5">
                        {{ ticket.lastName|upper }}
                    </div>
                    <div class="col-xs-2">
                        {{ ticket.price }}<span class="glyphicon glyphicon-euro"></span>
                    </div>
                    <div class="col-xs-1">
                        <a class="btn btn-danger btn-sm"
                           href="{{ path('oc_booking_delete', { 'sessionId' : ticket.sessionId }) }}"><i
                                    class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </div>

            </li>
        {% endfor %}
    </ul>


    {{ form_start(booking, {'attr': {'class':'form-horizontal'}}) }}
    {{ form_errors(booking) }}

        {{ form_label(booking.email, "Adresse Email") }}
        {{ form_errors(booking.email) }}
        {{ form_widget(booking.email) }}


    </div>
    {{ form_widget(booking.validation, {'attr': {'class' : 'btn btn-primary btn-block'}}) }}
    {{ form_end(booking) }}


</div>


    {% block javascripts %}
    <script>
        function w3_open_right() {
            document.getElementById("mySidebarR").style.width = "25%";
            document.getElementById("mySidebarR").style.display = "block";
            document.getElementById("openNavRight").style.display = 'none';
        }

        function w3_close_right() {
            document.getElementById("mySidebarR").style.display = "none";
            document.getElementById("openNavRight").style.display = "inline-block";
        }

        function w3_open_left() {
            document.getElementById("mySidebarL").style.width = "25%";
            document.getElementById("mySidebarL").style.display = "block";
            document.getElementById("openNavLeft").style.display = 'none';
        }

        function w3_close_left() {
            document.getElementById("mySidebarL").style.display = "none";
            document.getElementById("openNavLeft").style.display = "inline-block";
        }
</script>
{% endblock %}



