{# src/OC/BookingBundle/Resources/views/Ticket/form.html.twig #}
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% endblock %}
</head>

{% block body %}
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0" id="mySidebarR">

        <button class="btn btn-secondary btn-block" onclick="w3_close_right()">
            <span>Fermer  </span><span class="glyphicon glyphicon-chevron-right"></span>
        </button>

        <div class="header">

            <div class="col-lg-12">

                <h3>
                    Ajoutez un ticket
                </h3>

            </div>

        </div>

        <div class="col">
        {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
        {{ form_errors(form) }}

        {# selecteur Date #}

            <div class="form-group">

            {{ form_label(form.date, "Date") }}

            {{ form_errors(form.date) }}

            {{ form_widget(form.date) }}

            </div>

        {# selecteur Prénom #}

            <div class="form-group">

                {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': ''}}) }}

                {{ form_errors(form.firstName) }}

                {{ form_widget(form.firstName, {'attr': {'class':'form-control'}}) }}

            </div>

            {# selecteur Nom #}

            <div class="form-group">

                {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'col-sm-2 controle-label'}}) }}

                {{ form_errors(form.lastName) }}

                {{ form_widget(form.lastName, {'attr': {'class':'form-control'}}) }}

            </div>

            {# selecteur Ville #}

            <div class="form-group">

                {{ form_label(form.country, "Ville", {'label_attr': {'class': 'col-sm-2 controle-label'}}) }}

                {{ form_errors(form.country) }}

                {{ form_widget(form.country, {'attr': {'class':'form-control'}}) }}

            </div>

            {# selecteur BirthDate #}

            <div class="form-group">


                {{ form_label(form.birthDate, "Date de naissance") }}
                {{ form_errors(form.birthDate) }}

                {{ form_widget(form.birthDate) }}

            </div>
            <div class="form-group">
                {{ form_label(form.glassHalfFull, "Type billet") }}
                {{ form_errors(form.glassHalfFull) }}

                {{ form_widget(form.glassHalfFull) }}

            </div>

            <div class="form-group">

                {# selecteur Rabbat A REVOIR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}


                {{ form_widget(form.reduct) }}


            </div>
        </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-block'}}) }}

            {{ form_end(form) }}


    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function w3_open_right() {
            document.getElementById("mySidebarR").style.width = "25%";
            document.getElementById("mySidebarR").style.display = "block";
            document.getElementById("openNavRight").style.display = 'none';
        }

        function w3_close_right() {
            document.getElementById("mySidebarR").style.display = "none";
            document.getElementById("openNavRight").style.display = "inline-block";
        }

        function w3_open_left() {
            document.getElementById("mySidebarL").style.width = "25%";
            document.getElementById("mySidebarL").style.display = "block";
            document.getElementById("openNavLeft").style.display = 'none';
        }

        function w3_close_left() {
            document.getElementById("mySidebarL").style.display = "none";
            document.getElementById("openNavLeft").style.display = "inline-block";
        }
    </script>
{% endblock %}